.loginPage{
  height: 100vh;
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 25%;
  row-gap: 30px;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 5%;
  height: 380px;
  border-radius: 10px;
  background-color: #bfc7d900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#buttonl {
  margin-top: 20px;
  border-radius: 2px;
  height: 45px;
}

.Message {
  position: absolute;
  top: 525px;
  left: 503px;
  color: rgb(194, 18, 18);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  text-align: center;
}

.google {
  background-color: rgb(146, 28, 28);
  border-radius: 5px;
}

#title {
  margin: 0%;
  padding: 2%;
  font-weight: bold;
  color: rgb(117, 117, 117);
  border-bottom: solid rgb(117, 117, 117);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 24px;
}
