.header {
  position: relative;
  background-image: linear-gradient(to right, #303f9f, #363a80, #363563, #333147, #2c2c2c);
  height: 60px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.theRuthless {
  position: absolute;
  font-size: 30px;
  color: white;
  font-weight: bold;
  top: 10px;
  left: 8%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  font-family: sans-serif;
}
#placeAdv {
  position: absolute;
  top: 10px;
  right: 30px;
  font-weight: bold;
  background-color: #FFD700;
}
#placeAdv:hover{
  background-color: #fff1a4;

}
.ruthless {
  height: 100px;
}
.ob_login {
  position: absolute;
  display: flex;
  color: white;
  column-gap: 25px;
  font-size: 20px;
  top: 16px;
  font-weight: bold;
  right: 15%;
}
.ob_profile {
  color: white;
  font-size: 20px;
  top: 16px;
  font-weight: bold;
  right: 15%;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.ob_login span:hover {
  cursor: pointer;
  color: #FFD700;
}
.ob_profile:hover {
  cursor: pointer;
  color: #FFD700;
}
.logo{margin-left: 15px;}